<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
      <% @caves.each do |cafe| %>
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
                <%= cafe.name %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= cafe.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
                </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= cafe.avg_score %>点（<%= cafe.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to cafe_reviews_path(cafe), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to cafe_path(cafe), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>